<h1>Appointment details for: <%=@appointment.patient.name%></h1>
<ul>
  <li>Doctor: <%=@appointment.doctor.username%></li>
  <li>Date: <%=@appointment.date%></li>
  <li>Time: <%=@appointment.time%></li>
  <li>Notes: <%=@appointment.notes%></li>
</ul>
